@font-face {
  font-family: '87MMILSANG-Oblique';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201@1.0/87MMILSANG-Oblique.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F1EFEC;
  --foreground: #000000;
}

.dark {
  --background: #121212;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "87MMILSANG-Oblique", Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}