@font-face {
  font-family: '87MMILSANG-Oblique';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201@1.0/87MMILSANG-Oblique.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a; /* 다크 모드 배경색 */
  --foreground: #ededed; /* 다크 모드 글자색 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "87MMILSANG-Oblique", Helvetica, sans-serif;
}